<div class="input-container__label">
  <label>{{ label }}</label>
  <span *ngIf="required">*</span>
</div>
<div class="input-container_field">
  <ng-content></ng-content>
  <svg
    *ngIf="clearable"
    (click)="onClearClick.next()"
    width="20"
    height="21"
    viewBox="0 0 20 21"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="clear-button"
  >
    <path
      d="M10 20.0352C15.5228 20.0352 20 15.558 20 10.0352C20 4.51231 15.5228 0.0351562 10 0.0351562C4.47715 0.0351562 0 4.51231 0 10.0352C0 15.558 4.47715 20.0352 10 20.0352ZM7.70711 6.32805C7.31658 5.93753 6.68342 5.93753 6.29289 6.32805C5.90237 6.71857 5.90237 7.35174 6.29289 7.74226L8.58579 10.0352L6.29289 12.328C5.90237 12.7186 5.90237 13.3517 6.29289 13.7423C6.68342 14.1328 7.31658 14.1328 7.70711 13.7423L10 11.4494L12.2929 13.7423C12.6834 14.1328 13.3166 14.1328 13.7071 13.7423C14.0976 13.3517 14.0976 12.7186 13.7071 12.328L11.4142 10.0352L13.7071 7.74226C14.0976 7.35174 14.0976 6.71857 13.7071 6.32805C13.3166 5.93753 12.6834 5.93753 12.2929 6.32805L10 8.62094L7.70711 6.32805Z"
    />
  </svg>
</div>
<span class="input-container__error">{{ errorMessage }}</span>
