<div class="neutral">
  <button tdm-button>button</button>
  <button tdm-button disabled="true">button</button>
</div>

<div class="light">
  <button tdm-button>button</button>
  <button tdm-button disabled="true">button</button>
</div>

<div class="dark">
  <button tdm-button>button</button>
  <button tdm-button disabled="true">button</button>
</div>

<div class="neutral">
  <button tdm-button size="large">button</button>
  <button tdm-button size="large" disabled="true">button</button>
</div>

<div class="light">
  <button tdm-button size="large">button</button>
  <button tdm-button size="large" disabled="true">button</button>
</div>

<div class="dark">
  <button tdm-button size="large">button</button>
  <button tdm-button size="large" disabled="true">button</button>
</div>

<div class="neutral">
  <button tdm-button type="warn">button</button>
  <button tdm-button type="warn" disabled="true">button</button>
</div>

<div class="light">
  <button tdm-button type="warn">button</button>
  <button tdm-button type="warn" disabled="true">button</button>
</div>

<div class="dark">
  <button tdm-button type="warn">button</button>
  <button tdm-button type="warn" disabled="true">button</button>
</div>

<div class="neutral">
  <button tdm-button type="success">button</button>
  <button tdm-button type="success" disabled="true">button</button>
</div>

<div class="light">
  <button tdm-button type="success">button</button>
  <button tdm-button type="success" disabled="true">button</button>
</div>

<div class="dark">
  <button tdm-button type="success">button</button>
  <button tdm-button type="success" disabled="true">button</button>
</div>
