@import './colors.style.scss';

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  line-height: 14px;
  flex: none;
  order: 0;
  flex-grow: 0;
  border-radius: 90px;
  border-width: 2px;
  border-style: solid;

  user-select: none;
  cursor: pointer;
  outline: none;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
}

.button-default-size {
  padding: 8px 16px;
  height: 36px;
  font-size: 12px;
}

.button-large-size {
  padding: 12px 24px;
  height: 44px;
  font-size: 14px;
}

.tdm-button {
  transition: opacity 175ms cubic-bezier(0.35, 0, 0.25, 1), background-color 175ms cubic-bezier(0.35, 0, 0.25, 1);

  &.disabled {
    opacity: 0.5;
  }
}

.neutral {
  .tdm-button {
    background-color: $primary-1;
    border-color: $primary-1;
    color: $neutral-1;

    &:hover {
      background-color: $primary-hover;
      border-color: $primary-hover;
    }

    &.disabled {
      background-color: $primary-1;
      border-color: $primary-1;
      color: $neutral-1;
    }
  }
}

.light {
  .tdm-button {
    border-color: $neutral-3;
    color: $dark-2;

    &:hover {
      background-color: $dark-2;
      border-color: $dark-2;
      color: $neutral-1;
    }

    &.disabled {
      background-color: $dark-2;
      border-color: $dark-2;
      color: $neutral-1;
    }
  }
}

.dark {
  .tdm-button {
    border-color: $neutral-5;
    color: $neutral-1;
    background-color: transparent;

    &:hover {
      background-color: rgba($neutral-1, 0.2);
      border-color: $neutral-5;
      color: $neutral-1;
    }

    &.disabled {
      background-color: $neutral-1;
      border-color: $neutral-1;
      color: $dark-2;
    }
  }
}

.neutral {
  .button-warn {
    background-color: $warn;
    border-color: $warn;
    color: $neutral-1;

    &:hover {
      background-color: $warn-hover;
      border-color: $warn-hover;
    }

    &.disabled {
      background-color: $warn;
      border-color: $warn;
      color: $neutral-1;
    }
  }
}

.light {
  .button-warn {
    border-color: $warn;
    color: $warn;

    &:hover {
      background-color: $warn;
      border-color: $warn;
      color: $neutral-1;
    }

    &.disabled {
      background-color: $warn;
      border-color: $warn;
      color: $neutral-1;
    }
  }
}

.dark {
  .button-warn {
    border-color: $warn;
    color: $warn;
    background-color: transparent;

    &:hover {
      background-color: rgba($warn, 0.2);
      border-color: $warn;
      color: $warn;
    }

    &.disabled {
      background-color: $warn;
      border-color: $warn;
      color: $neutral-1;
    }
  }
}

.neutral {
  .button-success {
    background-color: $success;
    border-color: $success;
    color: $neutral-1;

    &:hover {
      background-color: $success-hover;
      border-color: $success-hover;
    }

    &.disabled {
      background-color: $success;
      border-color: $success;
      color: $neutral-1;
    }
  }
}

.light {
  .button-success {
    border-color: $success;
    color: $success;

    &:hover {
      background-color: $success;
      border-color: $success;
      color: $neutral-1;
    }

    &.disabled {
      background-color: $success;
      border-color: $success;
      color: $neutral-1;
    }
  }
}

.dark {
  .button-success {
    border-color: $success;
    color: $success;
    background-color: transparent;

    &:hover {
      background-color: rgba($success, 0.2);
      border-color: $success;
      color: $success;
    }

    &.disabled {
      background-color: $success;
      border-color: $success;
      color: $neutral-1;
    }
  }
}
