$primary-1: #3772ff;
$primary-hover: #2955bf;
$primary-disabled: #8fa5db;

$primary-accent: #9757d7;

$warn: #ef466f;
$warn-hover: #cc3e62;
$warn-disabled: #ed6083;

$success: #45b26b;
$success-hover: #378c55;
$success-disabled: #75d597;

$neutral-1: #fcfcfd;
$neutral-2: #f4f5f6;
$neutral-3: #e6e8ec;
$neutral-4: #b1b5c3;
$neutral-5: #777e90;

$dark-1: #353945;
$dark-2: #23262f;
$dark-3: #141416;
