@import './colors.style.scss';

.input-container {
  width: 100%;
}

.input-container__label {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: $neutral-4;

  .dark {
    color: $neutral-4;
  }
}

.input-container_field {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 8px 0px;
  padding: 12px 16px;
  box-sizing: border-box;
  border-radius: 12px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
  width: 100%;

  input,
  textarea {
    border: none;
    outline: none;
    width: 100%;
    color: $neutral-5;
  }

  input {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 19px;
  }
  textarea {
    resize: none;
  }
}

.input-container_field {
  transition: border 175ms cubic-bezier(0.35, 0, 0.25, 1);
  border: 2px solid $neutral-5;
}

.dark {
  .input-container_field {
    border: 2px solid $neutral-4;
  }
}

.focused {
  .input-container_field {
    border: 2px solid $primary-1;
  }
}

.success {
  .input-container_field {
    border: 2px solid $success;
  }
}

.error {
  .input-container_field {
    border: 2px solid $warn;
  }
}

.input-container__error {
  margin: 8px 0;
  font-size: 12px;
  line-height: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.clear-button {
  cursor: pointer;

  path {
    fill: $neutral-4;
    fill-rule: evenodd;
    clip-rule: evenodd;
  }
}
