@import './colors.style.scss';

.neutral {
  &,
  div {
    background-color: $neutral-1;
  }
}

.light {
  &,
  div {
    background-color: $neutral-1;
  }
}

.dark {
  &,
  div {
    background-color: $dark-3;
  }
}
