<tdm-input [label]="'label'" [clearable]="true"></tdm-input>

<form [formGroup]="form">
  <tdm-input
    [label]="'label'"
    [clearable]="true"
    formControlName="testOne"
    error="true"
  ></tdm-input>
  <tdm-input formControlName="testOne" [label]="'label'" success="true"></tdm-input>
</form>

<tdm-text-area></tdm-text-area>
